.sidebar{
    background-color: #64C5DE;
    color: black;
    padding: 4px;
    position: fixed;
    height: 100%;
    z-index: 9;
}
.sidebar.open{
    width: 500px;
    display: flex;
    justify-content: center;
}
.arrow {
    font-size: 40px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}
.icon {
    font-size: 40px;
    margin-top: 40px;
}
.icon-box {
    margin-top: 30px;
}
.toggle-button {
    border: 0px solid white;
    background-color: transparent;
    cursor: pointer;
}
.error{
    color: rgb(163, 17, 17);
}